<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>About Rock Paper Scissors</h1>
        <main>
            <p>
                Rock-Paper-Scissors is a game played to settle disputes between two people. Thought to be a game of chance that depends on random luck similar to flipping coins or drawing straws, the game is often taught to children to help them settle arguments between themselves on their own without adult intervention. However, the game actually can be a game that has an element of skill that requires quick thinking and perceptive reasoning.
            </p>
        </main>
</body>
</html>