<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}Rock Paper Scissors</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>ROCK PAPER SCISSORS</h1>
    <h2>What are the rules?</h2>
    <main>
        <ul>
            <li>If you choose Rock, you will win against Scissors but lose against Paper.</li>
            <li>If you choose Scissors, you will win against Paper but lose against Rock.</li>
            <li>If you choose Paper, you will win against Rock but lose against Scissors.</li>
        </ul>
    </main>
    
</body>
</html>